---
---

@import "{{ site.theme }}";
@media (min-width: 1200px) {
.d-xl-inline-block {
display: inline-block !important;
}
.d-none {
display: none !important;
}
.badge-warning {
color: #212529;
background-color: #ffed4a;
}
.badge {
display: inline-block;
padding: 0.25em 0.4em;
font-size: 75%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 0.25rem;
-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*::before, *::after {
box-sizing: border-box;
}
}
